/* font, color, radius */
:root {

    /* canvas */
  --canvas-bg-default: linear-gradient(
    180deg,
    rgba(252, 239, 222, 1) 0%,
    rgba(219, 184, 144, 0.5) 100%
  );

  --canvas-bg-warm: linear-gradient(
    180deg,
    rgba(252, 239, 222, 1) 0%,
    rgba(219, 184, 144, 1) 100%
  );

    /* colors */
  --background: #FAF9F5;
  --foreground: #3F1E1E;

  --color-primary: #000000;
  --color-primary-foreground: #504F4F;
  --color-primary-foreground-inactive: rgba(63, 30, 30, 0.5);

  --color-shell-paper: #FAF9F5;
  --bg-page: #fcefde;

  --color-progress-bar: #3F1E1E;
  --color-progress-bar-inActive: rgba(63, 30, 30, 0.5);;
  
  --color-button: #3F1E1E;
  --color-button-inActive: rgba(63, 30, 30, 0.5);
  --color-under-toggle: #ECE9E9;

  /* radius */
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-full: 9999px;

  /* fonts */
  --font-sans: var(--font-proxima), var(--font-montserrat),
    -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-serif: var(--font-lora), Georgia, "Times New Roman", serif;  
}

body {
  background: var(--canvas-bg-default);
  color: var(--foreground);
  font-family: var(--font-sans);
}