/* token -> utilities (the use of tokens on to components) */
@layer utilities{

    .font-proxima {
    font-family: var(--font-proxima), -apple-system, "Helvetica Neue", sans-serif;
    }

    .font-montserrat {
    font-family: var(--font-montserrat), -apple-system, "Helvetica Neue", sans-serif;
    }

    .font-lora {
    font-family: var(--font-lora), Georgia, serif;
    }

    .font-helvetica {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    }

    /* colors classes */
    .bg-page {
        background: var(--color-shell-paper);
    }
    .bg-canvas-default {
        background: var(--canvas-bg-default);
    }
    .bg-canvas-warm {
        background: var(--canvas-bg-warm);
    }
    .bg-progress-bar {
        background: var(--color-progress-bar);
    }
    .bg-progress-bar-default {
        background: var(--color-progress-bar-inActive);
    }
    .bg-under-toggle{
        background: var(--color-under-toggle);
    }
    .foreground{
        color: var(--color-primary-foreground);
    }
    .foreground-inActive{
        color: var(--color-primary-foreground-inactive)
    }
    .button-active{
        background: var(--color-button);
    }
    .button-inActive{
        background: var(--color-button-inActive);
    }
}

